<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Male-Fashion | Template</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>


  <!-- Header Section Begin -->
  <header class="header">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
          </div>
        </div>


      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </header>
  <!-- Header Section End -->

  <body>
    <section class="vh-100" style="background-color: #f9f4f4;">
      <div class="container py-4 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;  ">
              <div class="row ">
              
                <div class="card-body p-4 p-lg-5 text-black">

                  <form action="/signinPost" method="post" id="form" onsubmit="return signUpValidation()">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Signup</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>


                    <div class="form-outline mb-4">
                      <input type="text" id="Firstname" class="form-control form-control-lg" name="Firstname" />
                      <label class="form-label" for="form3Example1cg"> Firstname</label>
                      <span id="nameError" style="color: red;"></span>

                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" id="Lastname" class="form-control form-control-lg" name="Lastname" />
                      <label class="form-label" for="form3Example1cg">Lastname</label>
                      <span id="LnameError" style="color: red;"></span>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" id="Email" class="form-control form-control-lg" name="Email" />
                      <label class="form-label" for="form3Example3cg">Email</label>
                      <span id="emailError" style="color: red;"></span>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="Password" class="form-control form-control-lg" name="Password" />
                      <label class="form-label" for="form3Example4cg">Password</label>
                      <span id="passwordError" style="color: red;"></span>

                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="Confirmpassword" class="form-control form-control-lg"
                        name="Confirmpassword" />
                      <label class="form-label" for="form3Example4cdg">Confirm password</label>
                      <span id="cnfmpasswordError" style="color: red;"></span>

                    </div>

                    <div class="d-flex justify-content-center">
                      <button type='submit' class="btn btn-dark btn-block btn-lg ">Signup</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/userLogin"
                        class="fw-bold text-body"><u>Login here</u></a></p>

                  </form>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <script defer src="js/validation.js"></script>
      <footer>

        <!-- Footer Section End -->

        <!-- Search Begin -->

        <!-- Search End -->

        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
  </body>

</html>